h1 {
    padding-top: 20px;
}

.MuiTableContainer-root {
    margin: auto;
    margin-top: 10px;
    border-collapse: collapse;
    max-width: 90%;
    max-height: 300px;
}

.custom-button {
    margin-bottom: 10px;
}