.logo-kitchen {
    max-width: 15vw;
    border-radius: var(--border-radius);
    box-shadow: none;
}

.question-kitchen {
    text-align: center;
    padding-top: 30px;
}

.input-container-kitchen {
    margin: auto;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    display: flex;
}

.input-kitchen {
    padding: 10px;
    border-radius: var(--border-radius);
    border: 2px solid var(--action);
    width: 100%;
    text-align: center;
    font-size: 18px;
    max-height: 90px;
}

.input-kitchen:focus {
    outline: none;
}