@font-face {
  font-family: 'Itim';
  src: url('./assets/fonts/Itim-Regular.ttf') format('truetype');
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font);
}

:root {
  --bg-geral: #e3b76b;
  --bg-app: #e8e8e8;
  --bg-header: #DD6B05;
  --action: #FF9D00;
  --font-color: black;
  --box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  --border-radius: 25px;
  --font: 'Itim', sans-serif;
}

html, body {
  height: 100vh;
}

body {
  background-color: var(--bg-geral);
  color: var(--font-color);
}

.app {
  background-color: var(--bg-app);
  max-width: 70%;
  height: 70%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}
